<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<string>930.000000</string>
		<key>title</key>
		<string>甜美校花</string>
		<key>url</key>
		<string>http://h.hiphotos.baidu.com/image/pic/item/b2de9c82d158ccbf033cb8391bd8bc3eb1354134.jpg</string>
		<key>width</key>
		<string>638.000000</string>
	</dict>
	<dict>
		<key>height</key>
		<string>780.000000</string>
		<key>title</key>
		<string>&gt; 李智友与中国娃娃</string>
		<key>url</key>
		<string>http://e.hiphotos.baidu.com/image/pic/item/80cb39dbb6fd5266d4d4df10a918972bd4073632.jpg</string>
		<key>width</key>
		<string>520.000000</string>
	</dict>
	<dict>
		<key>height</key>
		<string>685.000000</string>
		<key>title</key>
		<string>清纯或是性感!或是百变美女</string>
		<key>url</key>
		<string>http://d.hiphotos.baidu.com/image/pic/item/f2deb48f8c5494eed39655112ff5e0fe99257e05.jpg</string>
		<key>width</key>
		<string>490.000000</string>
	</dict>
	<dict>
		<key>height</key>
		<string>746.000000</string>
		<key>title</key>
		<string>萝莉</string>
		<key>url</key>
		<string>http://a.hiphotos.baidu.com/image/pic/item/0ff41bd5ad6eddc419f90cff3bdbb6fd52663393.jpg</string>
		<key>width</key>
		<string>621.000000</string>
	</dict>
</array>
</plist>
